/*================================================================
======================= Extra small devices ======================
================================================================*/

    @media (max-width: 479.98px) {
        .container.for_mob {
            display: block;
        }
        #sign_buttons\ for_pc {
            display: none;
        }
        .heder_marque.for_mob {
            background: linear-gradient(to right top, #ffffff, #f5fcff, #e2fbff, #d1fbf9, #cef9e2);
            display: block;
        }
        .mrq{
            padding: 0px;
        }
        .heder_marque {
            padding-top: 0px;
            padding-bottom: 0px;
        }
        
    /*========== Navbar part start ==========*/
    .navbar {
        background: linear-gradient(to bottom, #009b9b, #009b9b, #008989, #007777, #006666) !important;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar {
        transition: all linear .4s;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }
    .navbar-light .navbar-toggler {
        color: #000;
        border: 0;
    }

    .navbar-light .navbar-nav .nav-link{
        padding: 0.2rem 0.5rem;
    }

    .fa.fa-bars {
        color: #fff;
        font-size: 30px;
    }

    .a_demo_four {
        padding: 5px 20px;
        padding-right: 20px;
    }
    .dateshow {
        text-align: right;
    }
    .dateshow {
        width: 38%;
    }
    .logo {
        width: 39%;
    }
    .game_pik {
        padding-left: 100px;
        padding-right: 100px;
    }
    .game_main .mybtn2 {
        bottom: 41px;
    }
    .play-btn img {
        width: 40%;
    }
        
        
    /*========== Deshbord Page start ==========*/
    #deshbord .logo {
        width: 40%;
    }
    #deshbord .dateshow {
        width: 30%;
    }
    #deshbord .nav-tabs .nav-item {
        width: 19%;
    }
    
    .sidebar-li ul{
        overflow: scroll;
    }
        
}

/*================================================================
======================= Extra small-2 devices ====================
================================================================*/

@media (min-width: 480px) and (max-width: 575.98px) {
        .container.for_mob {
            display: block;
        }
        #sign_buttons\ for_pc {
            display: none;
        }
        .heder_marque.for_mob {
            display: block;
        }
    /*========== Navbar part start ==========*/
    .navbar {
        border-bottom: 1px solid #fff;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar {
        position: fixed;
        top: 0;
        transition: all linear .4s;
        z-index: 9999;
        padding-top: 10px;
        padding-bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .navbar-light .navbar-toggler {
        color: #000;
        border: 0;
    }

    .fa.fa-bars {
        color: #fff;
        font-size: 30px;
    }

    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        padding-top: 10px;
        padding-left: 0;
    }
    .search-bar {
        height: 20px;
        border: none;
        border-radius: 5px;
        margin-left: 80px;
    }
    
    /*=========== Banner part start ===========*/
        
    .banner_img2 {
        margin-right: 4px;
        margin-top: 25px;
    }
    .banner_img1 {
        text-align: center;
    }
    .banner_item h3 {
        font-size: 26px;
        padding-bottom: 12px;
    }
    
    /*=========== Navbar_2 part start ===========*/
    .navbar_2 ul li {
        padding-bottom: 10px;
        text-align: center;
    }
    .navbar_2 ul li a {
        text-align: center;
    }
    .navbar_2 {
        padding-left: 0;
        padding-bottom: 0;
    }
    /*=========== Navbar_3 part start ===========*/
    .navbar_3 ul li {
        padding-bottom: 10px;
        text-align: center;
    }
    .navbar_3 ul li a {
        text-align: center;
    }
    .navbar_3 {
        padding-left: 0;
        padding-bottom: 10px;
    }
    /*=========== Product part start ===========*/
    .write {
        padding-top: 32px;
        padding-bottom: 30px;
    }
    /*=========== Footer part start ===========*/
    .contact_Start {
        text-align: center;
    }
    .contact_bar {
        margin-top: 25px;
    }
    
    .sidebar-li ul{
        overflow: scroll;
    }   
}

/*======================================================================
============================= Small devices ============================
======================================================================*/

@media (min-width: 576px) and (max-width: 767.98px) {

    /*========== Navbar part start ==========*/
    .navbar {
        border-bottom: 1px solid #fff;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar {
        position: fixed;
        top: 0;
        transition: all linear .4s;
        z-index: 9999;
        padding-top: 10px;
        padding-bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .navbar-light .navbar-toggler {
        color: #000;
        border: 0;
    }

    .fa.fa-bars {
        color: #fff;
        font-size: 30px;
    }

    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        padding-top: 10px;
        padding-left: 0;
        margin-left: 60px;
    }
    .search-bar {
        height: 20px;
        border: none;
        border-radius: 5px;
        margin-left: 80px;
    }
    /*=========== Banner part start ===========*/
        
    .banner_img2 {
        margin-right: 4px;
        margin-top: 25px;
    }
    .banner_img1 {
        text-align: center;
    }
    .banner_item h3 {
        font-size: 26px;
        padding-bottom: 12px;
    }
    
    /*=========== Navbar_2 part start ===========*/
    .navbar_2 ul li {
        padding-bottom: 10px;
        text-align: center;
    }
    .navbar_2 ul li a {
        text-align: center;
    }
    .navbar_2 {
        padding-left: 0;
        padding-bottom: 0;
    }
    /*=========== Navbar_3 part start ===========*/
    .navbar_3 ul li {
        padding-bottom: 10px;
        text-align: center;
    }
    .navbar_3 ul li a {
        text-align: center;
    }
    .navbar_3 {
        padding-left: 0;
        padding-bottom: 10px;
    }
    /*=========== Product part start ===========*/
    .write {
        padding-top: 32px;
        padding-bottom: 30px;
    }
    /*=========== Footer part start ===========*/
    .contact_Start {
        text-align: center;
    }
    .contact_bar {
        margin-left: 70px; 
        margin-top: 25px;
    }
    
    .sidebar-li ul{
        overflow: scroll;
    }
    
}

/*========================================================================
============================== Medium devices ============================
=========================================================================*/

@media (min-width: 768px) and (max-width: 991.98px) {
    
/*========== Navbar part start ==========*/
    .navbar {
        position: fixed;
        top: 0;
        z-index: 9999;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 0 8px;
    }
    
    .search-bar {
        margin-left: 10px;
        padding-left: 0;
        width: 175px;
    }

    .sidebar-li ul{
        overflow: scroll;
    }
    
}